<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"> 
    <title>Green Seed</title>
</head>

<body>
   <!--Creación de encabezado-->
   <header>
     <!--Creación de navbar-->
     <nav class="navbar d-flex navbar-expand-lg navbar-custom font-weight-bold navegacion">
      <a class="navbar-brand" href="/">GreenSeed</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link navbar-brand" href="/">Inicio</a>
          <a class="nav-item nav-link navbar-brand" href="/directorio">Directorio</a>
          <a class="nav-item nav-link navbar-brand" href="/">Perfil</a>
        </div>
      </div>
    </nav>
  </header>

</body>

   <!--Principal-->
 <%- defineContent ('privado') %>
   <main class="principal">
      <body>
        
        <%- body %>
        <div id="general">
          <div id="aside">

          </div>
          <div id="mid">
            
          </div>
          <div id="body">

          </div>
          
  
        </div>
      </body>

   </main>


   <!--Pie de pagina-->
   <footer class="pie">

   </footer>