<% contentFor('privado') %>

<link href="styles/style.css" rel="stylesheet" type="text/css">


<div class="container">
   <h2 class="text-center">GreenSeed Gallery</h2>
   <div class="greenseed-gallery">
         <div><img src="images\Imagen2.jpg"></div>
         <div><img src="images\Imagen3.jpg"></div>
         <div><img src="images\Imagen4.jpg"></div>
         <div><img src="images\Imagen5.jpg"></div>
         <div><img src="images\Imagen6.jpg"></div>
         <div><img src="images\Imagen7.jpg"></div>
         <div><img src="images\Imagen8.jpg"></div>
         <div><img src="images\Imagen9.jpg"></div>
         <div><img src="images\Imagen10.jpg"></div>
         <div><img src="images\Imagen11.jpg"></div>
         <div><img src="images\Imagen12.jpg"></div>
         <div><img src="images\Imagen13.jpg"></div>
         <div><img src="images\Imagen14.jpg"></div>
         <div><img src="images\Imagen15.jpg"></div>
         <div><img src="images\Imagen16.jpg"></div>
         <div><img src="images\Imagen17.jpg"></div>
         <div><img src="images\Imagen18.jpg"></div>
         <div><img src="images\Imagen19.jpg"></div>
         <div><img src="images\Imagen20.jpg"></div>
         <div><img src="images\Imagen21.jpg"></div>      
         <div><img src="images\Imagen22.jpg"></div>
         <div><img src="images\Imagen23.jpg"></div>
         <div><img src="images\Imagen24.jpg"></div>
         <div><img src="images\Imagen25.jpg"></div>
         <div><img src="images\Imagen26.jpg"></div>
         <div><img src="images\Imagen27.jpg"></div>
</div>


<div class="text-center github-link">

<a class="github-link" href="https://github.com/DuranArath150/GreenSeed" target="_blank"><i class="fa fa-github"></i> Github Source Code</a>

</div>


</section> <!-- / projects -->




