<% contentFor('privado') %>
<div class="container">
    <div class="container__content">
        <h1>Green Seed</h1>
        <p>Esta es un pagina para el cuuidado de las plantras con informacion util y amigable </p>
    </div>
</div>
<img src="https://img.freepik.com/vector-gratis/fondo-diseno-floral-lineal_23-2149130875.jpg?w=996&t=st=1668924899~exp=1668925499~hmac=7f84904f99b19bd18c5a81fdf710d606fa342648c66744a740aad2d9f7ae95eb" alt="">

