<% contentFor('privado') %>
<div class="container">
    <div class="container__content">
        <h1>Green Seed</h1>
        <p>Esta es un pagina para el cuidado de las plantras con informacion util y amigable </p>
    </div>
</div>


